@mixin arial {
	font-family: Arial, Helvetica, sans-serif;
}

.arial {
	@include arial;
}

@mixin avenir-roman {
	font-family:'Avenir LT W01 55 Roman';
	font-weight: normal;
}

.avenir-roman {
	@include avenir-roman;
}

@mixin avenir-black {
	font-family:'Avenir LT W01 95 Black';
	font-weight: normal;	
}

.avenir-black {
	@include avenir-black;
}

@mixin avenir-heavy {
	font-family:'Avenir LT W01 85 Heavy';
	font-weight: normal;	
}

.avenir-heavy {
	@include avenir-heavy;
}

@mixin avenir-medium {
	font-family:'Avenir LT W01 65 Medium';
	font-weight: normal;	
}

.avenir-medium {
	@include avenir-medium;
}

@font-face {
	font-family: 'CaeciliaLTStd-Light';
	src:url('fonts/CaeciliaLTStd-Light.eot');
	src:url('fonts/CaeciliaLTStd-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/CaeciliaLTStd-Light.woff') format('woff'),
		url('fonts/CaeciliaLTStd-Light.ttf') format('truetype'),
		url('fonts/CaeciliaLTStd-Light.svg#CaeciliaLTStd-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin caecilia {
	font-family:'CaeciliaLTStd-Light';
	font-weight: normal;	
}

.caecilia {
	@include caecilia;
}


