html {
	height: 100%;
	font-size: 62.5%;
	
	@include device-width(10) {
		font-size: 61%;
	}

	@include device-width(9) {
		font-size: 60%;
	}

	@include device-width(8) {
		font-size: 59%;
	}

	@include device-width(7) {
		font-size: 58%;
	}

	@include device-width(6) {
		font-size: 57%;
	}

	@include device-width(5) {
		font-size: 56%;
	}

	@include device-width(4) {
		font-size: 55%;
	}
}

body {
	@include avenir-roman;
	height: 100%;
	background: #FFF;
	color: #373737;
	@include font-size(14);
	line-height: 1.5;
	min-width: 250px;
	-webkit-font-smoothing: antialiased;

	@include device-width(8) {
		@include font-size(13);
		line-height: 1.3;
	}

}

#wrap {
	height: 100%;
}

#header {
	height: 159px;
	background: #FFF;

	@include device-width(4) {
		height: auto;
		padding-bottom: 40px;
	}

	> .inner {
		text-align: center;
		padding-top: 25px;
	}

	.logo-container {
		@include transition(all 0.3s ease);
		width: 71px;
		height: 71px;
		margin: 0 auto;
	}

	.logo {
		@include transition(all 0.3s ease);
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 50;
		font-size: 65px;

		&:hover {
			color: #fbd100;
		}
	}

	.navigation-container {
		margin: 21px 0 0 0;

	
		.mobile-navigation-btn {
			display: none;
			padding: 1em 2em;
			border-right: 1px solid #cecece;
			margin-top: -69px;	
	
			@include device-width(4) {
				display: block;
			}
		}
	}
	

	.main-navigation { 
		margin: 0;

		@include device-width(4) {
			display: none;
		}		


		> ul {
			margin: 0;
			padding: 0;
		    font-size: 0.1px;

			> li {
			 	display: inline-block;
				position: relative;
				@include transition(all 0.3s ease);

				@include device-width(4) {
					display: block;
				}

			 	> a {
			 		display: inline-block;
					padding: 0 6px 20px;
					@include avenir-roman;
			 		font-size: 13px;
			 		line-height: 19px;
			 		margin: 0 13px;
				 	color: #333;
				 	border-bottom: 3px solid transparent;

				 	&:hover {
				 		border-bottom: 3px solid #fbe88e;
				 		color: #fbd100;
				 	}

				 	@include device-width(4) {
				 		padding: 20px 6px;
				 		display: block;
				 		border-bottom: 3px solid #F7F7F7;
				 	}
			 	}

			 	&.current_page_parent > a,
			 	&.current-menu-item > a,
			 	&.current-category-ancestor > a,
			 	&.current-page-ancestor > a,
			 	&.current-post-ancestor > a,
			 	&.current-menu-parent > a,
			 	&.current-post-parent > a,
			 	&.current > a {
			 		color: #333;
			 		border-bottom: 3px solid #575b5d;
			 	}

			}
		} 
	}
}
		
			
#main {
	position: relative;
	z-index: 500;
}
		
#sidebar {}
	
#footer {
	@include box-shadow(-2px -2px 3px #C6C6C6);
	border-bottom: 1px solid #FFF;
	position: relative;
	z-index: 500;
	
	> .top {
		> .inner {
			padding: 3.6rem 0 1rem;
			@include font-size(17);
			@include avenir-black;
			color: #333;

			@include device-width(10) {
				padding: 3.6rem 0 2rem;
			}

			.span {
				@include device-width(5) {
					margin: 1rem 0;
				}				

				.label {
					padding-right: 1.5rem;

					@media only screen and (max-width: 1110px){	
						font-size: 55%;
						width:100%;
						display:block;
					}	

					@include device-width(5) {
						width: 100%;
						display: inline;
						font-size: 100%;
					}									

					@include device-width(4) {
						width: 120px;
						display: block;
						float: left;
						clear: left;
					}						
				}						
			}

			.link {
				@media only screen and (max-width: 640px){	
					font-size: 55%;
				}

				@include device-width(5) {
					font-size: 80%;
				}		

				@media only screen and (max-width: 330px){	
					font-size: 75%;
				}						
			}
		}

		.socials {

			@include device-width(4) {	
				padding-left: 142px;
				padding-top: 10px;
			}

			a {
				@include font-size(34);
				color: #fbd100;
				float: left;
				margin: -10px 5px 5px 0;

				&:hover {
					color: #333;
				}
			}
		}
	}

	> .bottom {
		@include avenir-medium;
		color: #FFF;
		background: #333;
		border-top: 1px solid #494949;
		border-bottom: 1px solid #494949;
		padding: 1rem 0;

		span {
			@include avenir-black;
		}
	}
}


#ajax-page {
	position: relative;
	.loader {
		display: block;
		padding: 10px 0;
		width: 32px;
		height: 32px;
		background: url(../images/icons/loader.gif) no-repeat center center;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -16px - 10px;
		margin-left: -16px;
	}
}

/* =============================================================================
   Pages
   ========================================================================== */
#content {

	.span {
		padding: 40px 10px;

		@include device-width(5) {
			padding: 20px 10px;
		}
	}
}

#front-page {

	#homepage-scroller {
		$ratio: 571 / 1396;
		//min-height: $ratio * 1156px;
		z-index: 100;

		.header {
		    height: 31px;
			position: absolute;
			top: 8%;
			width: 100%;
		    z-index: 10;			
			@include caecilia;
			@include font-size(30);
			text-align: center;

			@include device-width(8) {
				@include font-size(23);
			}				

			@include device-width(6) {
				@include font-size(20);
			}				

			@include device-width(4) {
				@include font-size(25);

				span {
					display: block;
				}
			}	

		}

		> .outer {
			position: relative;
			height: 0;
			padding-top: 578px;
			
			@include device-width(12) {
				padding-top: $ratio * 100%;
			}				

			@include device-width(6) {
				padding-top: 54%;
			}					

			@include device-width(4) {
				padding-top: 75%;
			}				

			> .inner {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}

		.scroller-mask {
			height: 100%;	
		}

		.scroller-navigation {
			display: block;
			opacity: 0;
			@include transition(all 0.3s ease);
		}	

		&:hover {
			.scroller-navigation {
				@include transition(all 0.3s ease);
				opacity: 1;
			}
		}			


	
		.scroll-item {
			height: 100%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			> .content {
				max-width: 845px;
				height: auto;				
				margin: 0px auto;
				position: relative;

				@include device-width(12) {
					max-width: 60%;
				}				

				@include device-width(6) {
					max-width: 80%;
				}				

				@include device-width(4) {
					max-width: 90%;
				}

				img {
					margin-top: 16%;

					@include device-width(4) {
						margin-top: 30%;
					}						
				}

				.project-link {
					@include transition(all 0.3s ease);
					display: inline;
					opacity: 0;
					background: #000;
					color: #FFF;
					@include border-radius(40px);
					padding: 18px 40px;
					@include avenir-medium;
					@include font-size(20);
					position: absolute;
					right: -20%;
					top: 60%;
					z-index: 9999;

					@include device-width(4) {
						right: 0;
					}					

					span {
						font-size: 70%;
						color: #fbe88e;
					}

					@include device-width(8) {
						font-size: 90%;
					}

					@include device-width(6) {
						padding: 10px;
					}
				}

				&:hover {
					.project-link {
						@include transition(all 0.3s ease);
						opacity: 1;
					}
				}


			}
		}

		.scroller-navigation {
		}
	}
	
	#content {

		h1 {
			letter-spacing: 1.9px;
			padding: 0 21px;

			@include device-width(6) {
				padding: 0;
			}

			@include device-width(4) {
				font-size: 200%;
			}			
		}

		h4 {
			@include device-width(4) {
				font-size: 190%;
				line-height: 100%;

				span {
					line-height: 1.4 !important;
					font-size: 1.5rem !important;
				}
			}		
		}	

		.container {
			max-width: 910px;

			@include device-width(4) {
				padding: 20px 0;
			}	

			.span {
				@include device-width(4) {
					padding: 0;
				}
			}						
		}

		.top-border {
			height: 12px;
			background-color: #222222;
			@include filter-gradient(#222222, #fbe88e, horizontal);
			@include background-image(linear-gradient(left,  #222222 0%,#222222 50%,#fbe88e 50%,#fbe88e 100%));
		}
	}
}

#about-us {
	background: #f7f7f7;

	#key-principles {
		background: #efefef;

		@include device-width(7) {
			padding-bottom: 40px;
		}

		.span {
			padding: 40px 40px 40px 0;

			@include device-width(7) {
				padding: 40px 40px 0 0;	
			}

			@include device-width(5) {
				padding: 40px 10px 0;	
			}			

			&.third {
				@include device-width(7) {
					width: 50%;
				}
			}
		}		

		.image {
			float: left; 
			width: 24%;
			margin-right: 5%;

			@include device-width(5) {
				width: 17%;
			}
		}

		.text {
			overflow: hidden;
			@include avenir-roman;

			h3 {
				line-height: 1.1;
				margin-top: 0;
				margin-bottom: 0.6em;
			}
		}
	}

	#meet-the-team {
		background: #f7f7f7;
		padding:50px 0 80px;

		@include device-width(5) {
			padding:50px 10px 80px;
		}

		.row {
			background: #FFF;
			margin-top: 18px;
			padding: 15px;		

			.image {
				width: 47%;
				float: left;

				@include device-width(7) {
					width: 40%;
				} 

				@include device-width(4) {
					width: 100%;
					float: none;
					margin: 0px auto 20px auto;
				}
			}

			.text {
				width: 40%;
				padding-top: 40px;
				float: right;
				margin-right: 10%;

				@include device-width(10) {
					padding-top: 10px;
				} 				

				@include device-width(7) {
					width: 55%;
					margin-right: 0;
				} 				

				@include device-width(4) {
					float: none;
					width: 100%;
				}				

				.name {
					line-height: 0.3;
				}

				.position {
					color: #fbd100;
					@include font-size(14);
					margin-bottom: 1em;
				}

				p {
					@include font-size(14);
					@include avenir-roman;
					color: #545454;
				}
			}

			&.even {
				.image {
					float: right;
					margin-left: 0;

					@include device-width(4) {
						float: none;
						margin: 20px auto;
					}					

				}

				.text {
					width: 45%;
					float: left;
					margin-right: 0;
					margin-left: 2%;				

					@include device-width(7) {
						width: 55%;
						margin-left: 0;
					}

					@include device-width(4) {
						float: none;
						width: 100%;
						margin: 0;
					}								
				}				
			}
		}
	}
}

#what-we-do {
	background: #f7f7f7;
	padding-top: 30px;
}

#capabilities {
	padding-bottom: 65px;

	.child-page {
		margin:12px 0;
		padding: 20px 30px 27px;
	    background-position: right top;
	    background-repeat: no-repeat;
	    @include background-size(contain);

	    p {
	    	@include avenir-roman;
	    	line-height: 1.5;
	    }

	    @include device-width(7) {
	    	background-image: none !important;

	    	.span {
	    		width: 100%;
	    	}
	    }

		.span {
			padding: 0;
		}	

		.acc-close {
			display: none;
		}
	}

	.link {
		@include font-size(14);
		margin-top: 50px;
	}

	.close-bottom {
		padding: 20px 30px 13px;
		@include inline-block;
		border-top: 1px solid #FFF;
		margin-top: -1px;

		.link {
			margin: 0;
		}
	}		

	.accordion {

		.header {
			padding: 3%;
		}

		> .inner {
		margin-bottom: 3px;
		padding: 39px 32px;		

			.row-title {
				@include avenir-heavy;
				font-size: 1.6rem;
				margin-bottom: 1em;
			}

			.span {
				padding-right: 5%;
			}
		}

		> .row {
			margin-bottom: 4px;

			.image {
				width: 18%;
				float: left;
			}

			.text {
				overflow: hidden;
				padding: 5px 230px 20px 20px;

				@include device-width(9) {
					padding: 20px 30px 20px 20px; 
				}
			}
		}

		.icon-list {
			list-style-type: none;
			padding: 0;

			li {
				background-repeat: no-repeat;
				padding-left: 35px;
				margin-bottom: 24px;

				.item-title {
					@include avenir-heavy;
					font-size: 1.4rem;
				}

				.item-content {

				}
			}
		}		
	}


	.odd {
		.child-page, .close-bottom {
			background-color: #ececec;
		}

		.row {

			.image {
				background: #ececec;
			}
		}

		.accordion > .inner, .row {
			background-color: #efefef;
		}
	}

	.even {
		.child-page, .close-bottom {
			background-color: #fbe88e;
		}

		.row {

			.image {
				background: #fbe88e;
			}
		}

		.accordion > .inner, .row {
			background-color: #f9eba9;	
		}		
	} 
}
#template-case-studies {
	background: #f7f7f7;
	padding: 70px 0;

	.item {
		position: relative;

		.title {
			color: #333;
			padding: 0 20px;
		}


		&:hover {

			.title {
				color: #333;
			}
		}
	}

	.row.work {
		background-color: #FFF;
		margin-bottom: 15px;
		padding: 15px 3% 0 10px;

		@include device-width(6) {
			padding:15px 0 0 0;

			.span {
				width: 100%;			
			}
		}



		.info {
			padding: 0 8% 30px 4%;
			text-align: center;
			position: absolute;
			height: 100%;

			@include device-width(8) {
				padding: 0;
			}

			@include device-width(6) {
				padding: 0 6% 30px;
				position: relative;
				margin-top: 20px;
			}	

			.centerer {
				width: 70%;

				@include device-width(8) {
					width: 100%;
				}
			}				

			.logo {
				margin-bottom: 10px;
			}
		}

		.image {
			padding-top: 30px;
		}
	}

	.footer {
		margin-top: 40px;

		.button {
			@include font-size(20);
			@include avenir-heavy;
			padding: 30px 105px;
		}
	}
}

#single-work {

	.header {

		.content {
			$ratio: 249 / 1396;
			padding-top: $ratio * 100%;
			@include background-size(contain);
			background-repeat: no-repeat;
			text-align: center;
			position: relative;

			@include device-width(7) {
				height: 80px;
				@include background-size(auto);
				background-position: center center;
			}

			.title {
				@include avenir-roman;
				margin-top: 10px;
			}
			
			.vh-align-center {
				width: 20%;

				@include device-width(7) {
					width: 200px;
				}

				img {
					max-width: 100%;
					height: auto;

					@include device-width(7) {
						width: 60%;
					}
				}
			}
		}
	}

	#content {
		padding: 80px 0;
		background: #f7f7f7;
		position: relative;

		@include device-width(6) {
			padding: 40px 0;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.description {
		background: #efefef;
		padding: 80px 0 220px;
		text-align: justify;

		@include device-width(9) {
			padding: 10% 0 15%;
		}		

		@include device-width(5) {
			padding: 10% 0 20%;
		}

		.span {
			@include device-width(5) {
				width: 100% !important;
				margin: 0 !important;
			}
		}

		.title {
			@include avenir-black;
			@include font-size(18);
			line-height: 1.5;
			margin-top: 20px;
		}

		p {
			color: #5e5e5e;
			@include font-size(13);
		  	line-height: 1.7;
		}

		.link {
			margin-top: 45px;
			@include font-size(18);
		}
	}
}

#archive-work {
	background: #f7f7f7;
	padding-top: 60px;

	.floatbtn {
		position: static;

		@include device-width(7) {
			display: block;
		}		
	}

	.categories {
		margin: 15px 0 30px 0;

		ul {
			list-style-type: none;
			padding: 0;

			li {
				float: left;
				margin-right: 5px;
				margin-bottom: 15px;

				a {
					@include avenir-heavy;
					@include font-size(16);
					@include border-radius(10px);
					padding: 9px 19px;

					@include device-width(6) {
						@include font-size(14);
						padding: 6px 15px;
					}

					&:hover, &.current {
						background: #e4e4e4;
						color: #333;
					}
				}
			}
		}
	}

	.item {
		background: #FFF;
		text-align: center;
		padding: 25px 0 0;
		margin-bottom: 30px;
		border: 10px solid #f7f7f7;
		min-height: 300px; 
		height:auto !important; 
		height: 300px; 	
		position: relative;

		@include device-width(8) {
			width: 50%;
		}

		@include device-width(5) {
			width: 100%;
		}

		.inner {
			display: table;
			width: 100%;
			height: 100px;
		}	

		.info {
			display: table-cell;
			vertical-align: middle;
			width: 100%;	

			.logo {
				img {
					max-height: 100%;
				}
			}		
		}	

		.title {
			padding: 0 10%;
		}		

		.image {
			position: absolute;
			bottom: 0;
			width: 80%;
			margin: 0 10%;
			left: 0;
		}	

		&.overlay-btn {

			&:after {
				padding-top: 35%;
			}
		}
	}
}

#contact {

	.sidebar {
		background: #f7f7f7;
		position: relative;
		padding: 0;


		.lead {
			background: #fbe88e;

			> .inner {
				max-width: 270px;
				padding: 60px 18% 50px;
				float: right;

				@include device-width(7) {
					padding: 60px 10% 50px;
				}

				@include device-width(6) {
					padding: 40px 5% 30px;
				}

				@include device-width(5) {
					float: none;
					max-width: 100%;
				}		
			}	
		}

		.information {
			padding: 40px 18%;
			float: right;
			max-width: 270px;

			@include device-width(7) {
				padding: 40px 10%;
			}

			@include device-width(6) {
				padding: 40px 5%;
			}		

			@include device-width(5) {
				float: none;
				max-width: 100%;
			}				

			.link, .icon {
				margin-bottom: 15px;
			}

			.bottom {
				@include font-size(16);
				text-align: center;
				margin: 70px 0 35px;
				display: block;
				max-width: 100%;

				@include device-width(5) {
					margin: 50px 0 35px;
				}
			}			
		}

		
	}

	.map {
		background: url(../images/backgrounds/dark_squares.jpg) left top repeat;
		padding-top: 10px;
		padding: 0;
		color: #FFF;

		.inner {
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			top: 0;
			overflow: hidden;

			.flex-container {
				height: 100%;

				@include device-width(5) {
					height: 0;
				}				
			}

			@include device-width(5) {
				position: static;
			}
		}
	}
}

#project-planner, #form-want-a-job {

	.first-row, .third-row{
		background: #f1f1f1;
	}

	.second-row, .fourth-row {
		background: #f7f7f7;
	}

	.gform_page_footer {
		display: none;

		.button.gform_next_button, .button.gform_previous_button {
			display: none;
		}
	}

	.second-row {
		.gfield_label {
			@include font-size(20);
			margin-bottom: 25px;
		}
	}	

	.fourth-row {
		.gform_fields {
			display: none;
		}

		.gform_page_footer  {
			display: block;
			margin: 0;
			padding: 90px 0;
			border: none;
			text-align: center;
			background: #f1f1f1;

			.button-sub {
				color: #a2a2a2;
				@include font-size(18);
				@include avenir-heavy;
				margin-top: 20px;
			}


		}

		.ui-rangeSlider {
			margin-top: 70px;
			margin-bottom: 50px;
		}
	}	


	.gform_wrapper {
		margin: 0;

		.top_label {
			.gfield_error {
				width: 30%;
			}	
		}

		.gf_page_steps {
			display: none;
		}

		.gform_body {

			.gf_step {
				@include avenir-heavy;
				@include font-size(30);
				color: #333333 !important;
				opacity: 1 !important;
				margin-bottom: 40px;
				line-height: 1em !important;

				.gf_step_number {
					display: none;
				}
			}

			.gform_page_fields:before, .gform_page_fields:after  {
			    content: " "; /* 1 */
    			display: table; /* 2 */
    		}

    		.gform_page_fields:after {
    			clear: both;
    		}

			.gform_page_fields {
				padding: 60px 0;
				width: 90%;
				max-width: 1100px;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				*zoom: 1;

				@include device-width(7) {
					width: 95%;
				}
			}

			ul {

				li {

					&.gfield {
						clear: none;
					}
				}
			}

			.gform_page {
				display: block !important;
			}
		}
	}
}

#form-want-a-job {

	.fourth-row {
		.gform_fields {
			display: block;
		}
	}

	.file-upload {
		.ginput_container {
			border: 1px solid #c6c6c6;
			background: #f1f1f1 url(../images/icons/file.jpg) 5% center no-repeat;
			padding: 30px 50px;
			position: relative;

			input {
				width: 100% !important;
				margin-left: 24px;
			}

			.upload-btn {
				position: absolute;
				top: 18px;
				left: 50px;
				padding: 11px;
				border: 1px solid #c0c0c0;
				background-color: #ffffff;
				@include filter-gradient(#ffffff, #f2f2f2, vertical);
				@include background-image(linear-gradient(top,  #ffffff 0%,#f2f2f2 100%));
				@include box-shadow(0px 2px 1px #c1c1c1);
				@include avenir-heavy;
				font-size: 14px;
			}			
		}
	}

}

#error {}
